server:
    profile: dev
    port: 8890

sflex:
    file:
        path:
            root: /wsmwld_sdata
            attachFile: /appdata/attachfile
            temp: ${sflex.file.path.attachFile}/temp
            export: ${sflex.file.path.attachFile}/export
    drm:
        path:
            temp: /drmkwq_sdata/dev/appdata/temp/
    authentication:
        passwordCheck: true
    authorization:
        dataServiceIdCheck:
            ignoreApi: all
        #      ignoreApi: /api/v1/common/security/login,/api/v1/common/pages,/api/v1/common/meta,/api/v1/common/portal
        pageRoleCheck: true
        dataServiceRoleCheck: true
        cors:
            accessControlAllowOrigin: "*"
    logging:
        login: true
        page: true
        dataService: true
        menu: true
        exception: true
    tableHistory:
        realtime: false
    query:
        maxSize: 5000
    sap:
        rfcDirectApi: /api/v1/common/rfc-direct
    firebase:
        privateKey:
            wells: wells-db99d-firebase-adminsdk-z35j0-eb65330c08.json
    sso:
        use: false
    cubeone:
        useYn: Y
    aes:
        secretKey: KSTATION-ENC-DEV-KEY-2023-195817

portal:
    defaultId: WEB_DEF
    login:
        simple:
            enabled: true
            url: /certification/{portal-id}/simpleLogin.html
        default:
            url: /certification/main
        welcome:
            enabled: true
            url: /certification/welcome.html
    ssoLogout:
        url: /certification/sso/sso-service?pname=spLogout
    main:
        url: /#

spring:
    devtools:
        restart:
            exclude: mybatis/sql/**/*.xml
    output:
        ansi:
            enabled: never
    database: 0
    redis:
        database: 1
        sentinelHost: 10.1.199.5,10.1.199.37,10.1.199.38
        sentinelPort: 5100,5100,5100
        password: 'OtLKsonzcHIHGAbpOico781K'
        lettuce:
            pool:
                max-active: 10
                max-idle: 10
                min-idle: 2
        ttl: 60
webClient:
    proxy:
        host: d-rvp.kyowon.co.kr
        port: 8111
    cruzlink: http://10.1.25.21:49001
    eai: http://10.1.199.7:10001/mediate/KYOWON
    sujiewon: https://api.sujiewon.com:18015/nrasrv
    controlm: https://d-ctm.kyowon.co.kr:8446/automation-api
    kakaoMobility: https://apis-navi.kakaomobility.com/v1/directions

report:
    ozUrl: https://d-eform.kyowon.co.kr:2943

nice:
    url: https://d-nskey.kyowon.co.kr

controlm:
    ctm: ctmkwda01
    userId: apiuser
    password: empass

kworks:
    message:
        apikey: FLOW_BOT_NOTI_API
        botcert: 20220209-7ee5a72f-0229-48b7-8e64-91ade9c37a53
        botid: noti_kstation

kportal:
    approval:
        url: https://kportal.digitalkyowon.com/KyowonGroupwareLogin.aspx
        secretKey: 2022-0217-KSPL-KFLW-000000

kakaopay:
    callbackUrl: https://d-wsm.kyowon.co.kr/api/v1/interface/sflex/common/common/kakaopay

datasource:
    ########### DEV #######################
    jndi:
        use: true
    pri:
        driverClassName: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
        jndi-name: 'java:/DS-DITGKW1-NXA'
    custsvc:
        name: 'customerServiceCenter'
        driverClassName: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
        jndi-name: 'java:/DS-DITGKW2-NXA'
    kportal:
        name: 'Kportal'
        driverClassName: com.microsoft.sqlserver.jdbc.SQLServerDriver
        jndi-name: 'java:/DS-KPORTAL1-NXA'

############## LOGGING Setting ############
logging:
    file:
        path: ${jboss.server.log.dir}
    config: classpath:logback-kyowon.xml
    level:
        root: info
        com.sds: debug
        com.kyowon: debug
        org.mybatis: error
        jdbc.sqlonly: debug
        jdbc.sqltiming: error
        jdbc.audit: error
        jdbc.resultset: error
        jdbc.resultsettable: error
        jdbc.connection: error
        org.thymeleaf: error
