server:
    servlet:
        session:
            tracking-modes: cookie
        encoding:
            force: true

sflex:
    file:
        thumbnail:
            width: 120
            height: 120
        delete:
            enabled: true
        multipart:
            maxUploadSize: 52428800
            maxUploadSizePerFile: 52428800
    security:
        fileCoder:
            qualifier: AESFileCoder
            secretKey: SflexpKGseed8957Jw8xcO3dkXxcop49
        passwordCoder:
            qualifier: SHAPasswordCoder
        messageCoder:
            qualifier: AESMessageCoder
            secretKey: SflexpKGseed8957Jw8xcO3dkXxcop49
    server:
        timezone: Asia/Seoul
    firebase:
        privateKey:
            wells: wells-db99d-firebase-adminsdk-z35j0-eb65330c08.json
    dbenc:
        aes: ENC_WSM
        sha: SLT_WSM

tenant:
    defaultId: TNT_WELLS
    superId: TNT_BASE


spring:
    application:
        name: sms-wells
    servlet:
        multipart:
            enabled: false
    mybatis:
        common:
            config: classpath:mybatis/config/mybatis-config.xml
            mapper: classpath*:mybatis/sql/**/*.xml
            interval: 1000
    mvc:
        pathmatch:
            matching-strategy: ant_path_matcher
    transaction:
        default-timeout: 120
