<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <!--<property name="USER_HOME" value="log" />  &lt;!&ndash; 로그 파일 경로 &ndash;&gt;-->
    <!--<property name="FILE_NAME" value="logs" /> &lt;!&ndash; 로그 파일명 &ndash;&gt;-->
    <springProperty scope="context" name="LOG_PATH" source="logging.file.path"/>
    <springProperty scope="context" name="APP_NAME" source="spring.application.name"/>
    <!-- property resource="logback.properties" /-->

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="com.sds.sflex.system.config.log.MaskingPatternLayout">
            <maskPattern>(\d+\.\d+\.\d+\.\d+)</maskPattern> <!-- Ip address -->
            <maskPattern>(\w+@\w+\.\w+)</maskPattern> <!-- Email -->
            <maskPattern>(\d{2,3}[,-]-?\d{2,4}[,-]-?\d{4})</maskPattern> <!-- 전화번호 -->
            <maskPattern>([34569][0-9]{3}[-~.[ ]][0-9]{4}[-~.[ ]][0-9]{4}[-~.[ ]][0-9]{4})
            </maskPattern> <!-- 카드 -->
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) [%X{traceId}] %magenta(${PID:- }) --- [%15.15t] %cyan(%-40.40logger{39}) : %m%n
            </pattern>
        </layout>
    </appender>

    <appender name="FILE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${APP_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_PATH}/${APP_NAME}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB
                </maxFileSize> <!-- each log file size cannot exceed 10 mega bytes  -->
            </timeBasedFileNamingAndTriggeringPolicy>
            <totalSizeCap>1GB
            </totalSizeCap> <!-- Total size 1GB, if occur overflow, delete ealy log -->
            <maxHistory>10</maxHistory> <!-- only have 10 days of history -->
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %p [%X{userIp}] [%X{traceId}] [%X{pageId}] [%X{userId}] [%15.15t] %-40.40logger %m%n
            </pattern>
        </encoder>
    </appender>

    <appender name="SQL_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${APP_NAME}_sql.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_PATH}/${APP_NAME}_sql.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB
                </maxFileSize> <!-- each log file size cannot exceed 10 mega bytes  -->
            </timeBasedFileNamingAndTriggeringPolicy>
            <totalSizeCap>1GB
            </totalSizeCap> <!-- Total size 1GB, if occur overflow, delete ealy log -->
            <maxHistory>10</maxHistory> <!-- only have 10 days of history -->
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %5p
                [${APP_NAME:-},%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-}] ${PID:- }
                --- [%15.15t] %-40.40logger{39} : %m%n
            </pattern>
        </encoder>
    </appender>

    <appender name="log_privacy" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/${APP_NAME}_privacy.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_PATH}/${APP_NAME}_test.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB
                </maxFileSize> <!-- each log file size cannot exceed 10 mega bytes  -->
            </timeBasedFileNamingAndTriggeringPolicy>
            <totalSizeCap>1GB
            </totalSizeCap> <!-- Total size 1GB, if occur overflow, delete ealy log -->
            <maxHistory>10</maxHistory> <!-- only have 10 days of history -->
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %5p
                [${APP_NAME:-},%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-}] ${PID:- }
                --- [%15.15t] %-40.40logger{39} : %m%n
            </pattern>
        </encoder>
    </appender>

    <springProfile name="dev">
        <logger name="SQL_LOG" additivity="false">
            <appender-ref ref="SQL_LOG"/>
        </logger>
        <root>
            <appender-ref ref="FILE_LOG"/>
        </root>
        <logger name="privacy" level="debug" additivity="false">
            <appender-ref ref="log_privacy"/>
        </logger>
    </springProfile>
</configuration>
