@charset "utf-8";

.PR{position:relative}
.FL{float:left}
.FR{float:right}
.L{text-align:left !important}
.C{text-align:center !important}
.R{text-align:right !important}
.B{font-weight:600 !important}
.B500{font-weight:500 !important}
.HD{display:none}
.DBL{display:block !important}
.OH{overflow:hidden}

.lH3{line-height:1.3}
.lH{line-height:1.5}

.vat{vertical-align:top;}
.vtt{vertical-align:text-top;}
.vtb{vertical-align:text-bottom;}

.w50{width:50% !important}
.w100{width:100%}

a.underline, a.underline:hover{text-decoration: underline}

/* display 조정 */
.db800, .db640, .db960, .db414, .db800,  .dn640, .dn414, .dn320{display:inline !important;font:inherit}
.dv800, .dv640{display:none !important}

.clear{clear:both;content:'';display:block;height:0;}
p{display:block;font:inherit;-webkit-margin-before: 0;-webkit-margin-after: 0;-webkit-margin-start: 0;-webkit-margin-end: 0;}

input[type=text], input[type=password], input[type=number], input[type=file], textarea{font-family:inherit;font-size:15px;padding:10px;border:1px solid #ccc;color:#222;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
input[type=text]{height:45px}
input[type=checkbox]{background:#fff;margin:1px;padding:0;font-family:inherit;font-size:15px;width:15px;height:15px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
input[type="checkbox"] {display:none;}
input[type="checkbox"] + label{font-size:1.5rem;color:#666;font-weight:400}
input[type="checkbox"] + label .chkSty {display:inline-block;width:27px;height:27px;margin:-2px 10px 0 0;vertical-align:middle;background:url('../images/ico_chk_off.png') left top no-repeat;background-size:27px;cursor:pointer;}
input[type="checkbox"]:checked + label .chkSty {background:url('../images/ico_chk_on.png') 0 top no-repeat;background-size:27px}
input[type=radio]{display:none;}
input[type=radio]:not(old){margin:0;padding:0;opacity:0}
input[type=radio]:not(old) + label {display:inline-block;background:url('../images/ico_radio_off.png') 0 0 no-repeat;  background-size: 26px auto;padding-left:30px;line-height  : 26px;margin-right:20px;font-size:16px;color:#000;font-weight:400;margin-bottom:5px}
input[type=radio]:not(old):checked + label{display:inline-block;background:url('../images/ico_radio_on.png') 0 0 no-repeat;background-size: 26px auto;padding-left:30px;margin-right:20px;margin-bottom:5px}

/*select{font-family:inherit;font-size:15px;height:36px;line-height:34px;background:#fff;border:1px solid #ccc;color:#222;padding:0 0 0 5px}*/
#select{width:100%;max-width:600px;height:45px;line-height:45px;border:1px solid #e0e0e0;font-size:1.5rem;color:#222;display:inline-block;position: relative;vertical-align:middle;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}
#select:after{content:'\e941';position:absolute;right:10px;top:50%;transform: translateY(-50%);font-family: xeicon !important}
#select label {position: absolute;font:inherit;top:0;left: 10px;}
#select select{width: 100%;height:45px;min-height:45px;line-height:45px;padding: 4px 5px;font-size:1.5rem;  opacity: 0;filter: alpha(opacity=0); /* IE 8 */;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}


.inputSty{background:#fafafa}

.toe{display:block;overflow:hidden;height:20px;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;word-wrap:normal}
.toe,x:-moz-any-link,x:default{height:20px;white-space:nowrap;word-wrap:break-word} /* Firefox 에서 줄 바꿈이 가능하도록 변경 */
*+html .toe{height:20px;white-space:nowrap;word-wrap:normal} /* 위 행이 IE7에도 적용되므로 IE7에만 줄 바꿈이 불가능하도록 다시 복원 */
.ellipsis{overflow:hidden;display:block;text-overflow:ellipsis;-o-text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-wrap:break-word;line-height:1.4em;height:2.8em;}

h1{font-size:2.9rem;color:#222}
h2{font-size:2.2rem;color:#222}
h3{font-size:1.8rem;color:#222}
h4{font-size:1.6rem;color:#222}
h5{font-size:1.5rem;color:#222}

.fc-111{color:#111 !important}
.fc-666{color:#666 !important}
.fc-777{color:#777 !important}
.fc-org{color:#ff7200 !important}
.fc-red{color:#ff0000 !important}

/* margin & padding */
.mg-0{margin:0 !important;}
.mg-5{margin:5px !important;}
.mg-10{margin:10px !important;}
.mg-15{margin:15px !important;}
.mg-20{margin:20px !important;}
.mg-25{margin:25px !important;}
.mg-30{margin:30px !important;}
.mg-35{margin:35px !important;}
.mg-40{margin:40px !important;}
.mg-45{margin:45px !important;}
.mg-50 {margin:50px !important;}

.mg-t0 {margin-top:0 !important;}
.mg-t3{margin-top:3px !important}
.mg-t5{margin-top:5px !important}
.mg-t10{margin-top:10px !important}
.mg-t15{margin-top:15px !important}
.mg-t20{margin-top:20px !important}
.mg-t25{margin-top:25px !important}
.mg-t30{margin-top:30px !important}
.mg-t35{margin-top:35px !important}
.mg-t40{margin-top:40px !important}
.mg-t45{margin-top:45px !important}
.mg-t50{margin-top:50px !important}

.mg-l0{margin-left:0 !important}
.mg-l5{margin-left:5px !important}
.mg-l10{margin-left:10px !important}
.mg-l15{margin-left:15px !important}
.mg-l20{margin-left:20px !important}
.mg-l25{margin-left:25px !important}
.mg-l30{margin-left:30px !important}
.mg-l35{margin-left:35px !important}
.mg-l40{margin-left:40px !important}
.mg-l45{margin-left:45px !important}
.mg-l50{margin-left:50px !important}

.mg-r0{margin-right:0 !important}
.mg-r3{margin-right:3px !important}
.mg-r5{margin-right:5px !important}
.mg-r10{margin-right:10px !important}
.mg-r15{margin-right:15px !important}
.mg-r20{margin-right:20px !important}
.mg-r25{margin-right:25px !important}
.mg-r30{margin-right:30px !important}
.mg-r35{margin-right:35px !important}
.mg-r40{margin-right:40px !important}
.mg-r45{margin-right:45px !important}
.mg-r50{margin-right:50px !important}

.mg-b0{margin-bottom:0 !important}
.mg-b5{margin-bottom:5px !important}
.mg-b10{margin-bottom:10px !important}
.mg-b15{margin-bottom:15px !important}
.mg-b20{margin-bottom:20px !important}
.mg-b25{margin-bottom:25px !important}
.mg-b30{margin-bottom:30px !important}
.mg-b35{margin-bottom:35px !important}
.mg-b40{margin-bottom:40px !important}
.mg-b45{margin-bottom:45px !important}
.mg-b50{margin-bottom:50px !important}

.pd-0{padding:0 !important;}
.pd-5{padding:5px !important;}
.pd-10{padding:10px !important;}
.pd-15{padding:15px !important}
.pd-20{padding:20px !important;}
.pd-25{padding:25px !important;}
.pd-30{padding:30px !important;}
.pd-35{padding:35px !important;}
.pd-40{padding:40px !important;}
.pd-45{padding:45px !important;}
.pd-50{padding:50px !important;}

.pd-t0{padding-top:0 !important;}
.pd-t5{padding-top:5px !important}
.pd-t10{padding-top:10px !important}
.pd-t15{padding-top:15px !important}
.pd-t20{padding-top:20px !important}
.pd-t25{padding-top:25px !important}
.pd-t30{padding-top:30px !important}
.pd-t35{padding-top:35px !important}
.pd-t40{padding-top:40px !important}
.pd-t45{padding-top:45px !important}
.pd-t50{padding-top:50px !important}

.pd-l0{padding-left:0 !important}
.pd-l5{padding-left:5px !important}
.pd-l10{padding-left:10px !important}
.pd-l15{padding-left:15px !important}
.pd-l20{padding-left:20px !important}
.pd-l25{padding-left:25px !important}
.pd-l30{padding-left:30px !important}
.pd-l35{padding-left:35px !important}
.pd-l40{padding-left:40px !important}
.pd-l45{padding-left:45px !important}
.pd-l50{padding-left:50px !important}

.pd-r0{padding-right:0 !important}
.pd-r5{padding-right:5px !important}
.pd-r10{padding-right:10px !important}
.pd-r15{padding-right:15px !important}
.pd-r20{padding-right:20px !important}
.pd-r25{padding-right:25px !important}
.pd-r30{padding-right:30px !important}
.pd-r35{padding-right:35px !important}
.pd-r40{padding-right:40px !important}
.pd-r45{padding-right:45px !important}
.pd-r50{padding-right:50px !important}

.pd-b0{padding-bottom:0 !important;}
.pd-b5{padding-bottom:5px !important}
.pd-b10{padding-bottom:10px !important}
.pd-b15{padding-bottom:15px !important}
.pd-b20{padding-bottom:20px !important}
.pd-b25{padding-bottom:25px !important}
.pd-b30{padding-bottom:30px !important}
.pd-b35{padding-bottom:35px !important}
.pd-b40{padding-bottom:40px !important}
.pd-b45{padding-bottom:45px !important}
.pd-b50{padding-bottom:50px !important}
.pd-b80{padding-bottom:80px !important}

.font-11{ font-size: 11px !important;}  .font-12{ font-size: 12px !important;}  .font-13{ font-size: 13px !important;}  .font-14, .fs14{ font-size: 14px !important;}  .font-15{ font-size: 15px !important;}  .font-16{ font-size: 16px !important;}  .font-18{ font-size: 18px !important;}
.font-20{ font-size: 20px !important;}  .font-24{ font-size: 24px !important;}  .font-26{ font-size: 26px !important;}  .font-28{ font-size: 28px !important;}
.font-30{ font-size: 30px !important;}  .font-32{ font-size: 32px !important;}  .font-35{ font-size: 35px !important;letter-spacing: -1px;}  .font-38{ font-size: 38px !important;letter-spacing: -2px;}
.font-40{ font-size: 40px !important;letter-spacing: -2px;} .font-45{font-size: 45px !important;letter-spacing: -2px;} .font-50{font-size: 50px !important;letter-spacing: -2px;} .font-60{font-size: 60px !important;letter-spacing: -3px;}

.btn {display:inline-block; border:1px solid transparent; vertical-align:baseline; cursor:pointer; text-align:center;}
.btn:hover {text-decoration:none;}
.btn.btn_sm{font-size:1.3rem !important;color:#555 !important;height:auto !important;line-height:1 !important;padding:5px 10px}
.round{border-radius:3px}
.btn_line_org{border:1px solid #e50032;color:#e50032}
.btn_line_wht{border:1px solid #fff;color:#fff}
.btn_line_blk{border:1px solid #000;color:#000}
.btn_line_gry{border-color:#e0e0e0;color:#555}
.btn_full_org{background:#e50032;color:#fff}
.btn_full_ylw{background:#ffe52e;color:#3c3036; line-height: 64px;}
.btn_full_gry{background:#e0e0e0;color:#666}
.btn_full_blk{background:#222;color:#fff}
.btn_full_blu{background:#0099ff;color:#fff}

.bd-box{border:1px solid #e0e0e0}
.bd-box-org{border:1px solid #e50032}
.bd-b0{border-bottom:0 !important}

.bgWht{background:#fff !important}
