@charset "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	src: url('https://themes.googleusercontent.com/font?kit=1_sFLBJZ_MiiGcnkjN_Mgg') format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: url('https://themes.googleusercontent.com/font?kit=7KXg6nyyqN8gyMoNwQ7aOQ') format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: url('https://themes.googleusercontent.com/font?kit=d-QWLnp4didxos_6urzFtg') format('woff');
}

/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    font-family:'Noto Sans KR';
    font-weight:normal;
	margin:0;
	padding:0;
	border:0;
	font-size:inherit;
	vertical-align:baseline;
	background:transparent;
	-webkit-text-size-adjust:none;
	list-style:none;
	line-height:1;
	letter-spacing:-1px
}

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
*:focus { outline:none; }
em,address{font-style:normal;}
hr{display:none}
body{line-height:1;word-break: break-all;}
ul,ol,dl{list-style:none;margin:0;padding:0}
ul:after,ol:after,dl:after{display:block;clear:both;content:''}
blockquote, q{quotes: none;}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none;}

ins{text-decoration:none;}
del{text-decoration:line-through;}
table{width:100%;border-collapse:collapse;border-spacing:0;table-layout:fixed;word-break:break-all;}
table th, table td{vertical-align:middle;}
fieldset{margin:0;padding:0;border:0 none;}
legend, caption, .skip{position:absolute; left:-9999px; width:0; height:0; font-size:0; line-height:0; overflow:hidden;}
caption{position:static;}

html, body,input,button,textarea{font-size:10px;color:#333;}
button{border:0}

a{text-decoration:none;color:inherit;}
a:hover,a:active,a:focus,a:visited{text-decoration:none;}
img,input{vertical-align:top;}
label{vertical-align:middle;font-size:15px;color:#555;cursor:pointer;}

h1,h2,h3,h4,h5,h6,th,strong {font-size:inherit;font-family:'Noto Sans KR';font-weight:500; line-height: 1.2}
b,B {font-size:inherit;font-family:'Noto Sans KR';font-weight:600; }
p, P{-webkit-margin-before: 0; -webkit-margin-after: 0;}
/*select {-webkit-appearance: none;-moz-appearance: none;appearance: none;}*/
/*select::-ms-expand {display: none;}*/

input::placeholder{font-size:1.4rem;color:#a9a9a9}
/*input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {color:transparent; }
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {color:transparent; }
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {color:transparent; }
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {color:transparent; }*/

/* html5 reset */
header, footer, section, article, aside, nav, details, menu, figure, figcaption, canvas{display:block; margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline;}
input[type=text]{-webkit-appearance:none;-moz-appearance:none;appearance:none;border-radius:0; }
input, select{outline:0;}
.hidden{position:absolute;top:0;left:-9999% !important;width:1px;height:1px;padding:0;margin:0;font-size:0;line-height:0;overflow:hidden;}

/* skip */
a.skipNavi{position:absolute; display:block; width:100%; left:0; text-align:center; top:-10000px; z-index:500; font-size:1.3em;}
a.skipNavi:hover, a.skipNavi:focus, a.skipNavi:active{position:absolute; top:0; padding:15px 0; font-weight:bold; color:#fff; background:#1d60a7; z-index:500;}