<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kyowon.sms.wells.web.service.visit.mapper.WsnbRentalAsPerformanceMapper">

    <select id="selectRentalPerformanceCprAsPer" resultType="com.kyowon.sms.wells.web.service.visit.dto.WsnbRentalAsPerformanceDto$SearchRes">

SELECT  A.NM AS ATC_NM
      , A.YYYY||'년' AS D_YEAR    -- 년
      , CASE WHEN A.NM = '4' THEN (CASE WHEN #{baseY} &lt;= 2015
                                                              THEN NVL(SUM(DECODE(MM, '01', 1)),0) * 27995
                                                      WHEN #{baseY} >=2016 AND #{baseY} &lt;= 2018
                                                               THEN NVL(SUM(DECODE(MM, '01', 1)),0) * 26654
                                                      WHEN #{baseY} >=2019
                                                               THEN NVL(SUM(CASE WHEN (MM = '01' AND PD_GRP_CD NOT IN ('5','7','8','9', '91', '93', '95', '96') ) THEN 26748
                                                                                          WHEN (MM = '01' AND PD_GRP_CD IN ('5','7','8','9', '91', '93', '95', '96')) THEN 32277
                                                                                            ELSE 0 END),0)
                                    END)
             WHEN A.NM = '5' THEN NVL(SUM(DECODE(MM, '01', PR)),0)
             ELSE NVL(SUM(DECODE(MM, '01', 1)),0) END AS M01
      , CASE WHEN A.NM = '4' THEN (CASE WHEN #{baseY} &lt;= 2015
                                                              THEN NVL(SUM(DECODE(MM, '02', 1)),0) * 27995
                                                      WHEN #{baseY} >=2016 AND #{baseY} &lt;= 2018
                                                               THEN NVL(SUM(DECODE(MM, '02', 1)),0) * 26654
                                                      WHEN #{baseY} >=2019
                                                               THEN NVL(SUM(CASE WHEN (MM = '02' AND PD_GRP_CD NOT IN ('5','7','8','9', '91', '93', '95', '96')) THEN 26748
                                                                                          WHEN (MM = '02' AND PD_GRP_CD IN ('5','7','8','9', '91', '93', '95', '96')) THEN 32277
                                                                                            ELSE 0 END),0)
                                    END)
             WHEN A.NM = '5' THEN NVL(SUM(DECODE(MM, '02', PR)),0)
             ELSE NVL(SUM(DECODE(MM, '02', 1)),0) END AS M02
      , CASE WHEN A.NM = '4' THEN (CASE WHEN #{baseY} &lt;= 2015
                                                              THEN NVL(SUM(DECODE(MM, '03', 1)),0) * 27995
                                                      WHEN #{baseY} >=2016 AND #{baseY} &lt;= 2018
                                                               THEN NVL(SUM(DECODE(MM, '03', 1)),0) * 26654
                                                      WHEN #{baseY} >=2019
                                                               THEN NVL(SUM(CASE WHEN (MM = '03' AND PD_GRP_CD NOT IN ('5','7','8','9', '91', '93', '95', '96')) THEN 26748
                                                                                          WHEN (MM = '03' AND PD_GRP_CD IN ('5','7','8','9', '91', '93', '95', '96')) THEN 32277
                                                                                            ELSE 0 END),0)
                                    END)
             WHEN A.NM = '5' THEN NVL(SUM(DECODE(MM, '03', PR)),0)
             ELSE NVL(SUM(DECODE(MM, '03', 1)),0) END AS M03
      , CASE WHEN A.NM = '4' THEN (CASE WHEN #{baseY} &lt;= 2015
                                                              THEN NVL(SUM(DECODE(MM, '04', 1)),0) * 27995
                                                      WHEN #{baseY} >=2016 AND #{baseY} &lt;= 2018
                                                               THEN NVL(SUM(DECODE(MM, '04', 1)),0) * 26654
                                                      WHEN #{baseY} >=2019
                                                               THEN NVL(SUM(CASE WHEN (MM = '04' AND PD_GRP_CD NOT IN ('5','7','8','9', '91', '93', '95', '96')) THEN 26748
                                                                                          WHEN (MM = '04' AND PD_GRP_CD IN ('5','7','8','9', '91', '93', '95', '96')) THEN 32277
                                                                                            ELSE 0 END),0)
                                    END)
             WHEN A.NM = '5' THEN NVL(SUM(DECODE(MM, '04', PR)),0)
             ELSE NVL(SUM(DECODE(MM, '04', 1)),0) END AS M04
      , CASE WHEN A.NM = '4' THEN (CASE WHEN #{baseY} &lt;= 2015
                                                              THEN NVL(SUM(DECODE(MM, '05', 1)),0) * 27995
                                                      WHEN #{baseY} >=2016 AND #{baseY} &lt;= 2018
                                                               THEN NVL(SUM(DECODE(MM, '05', 1)),0) * 26654
                                                      WHEN #{baseY} >=2019
                                                               THEN NVL(SUM(CASE WHEN (MM = '05' AND PD_GRP_CD NOT IN ('5','7','8','9', '91', '93', '95', '96')) THEN 26748
                                                                                          WHEN (MM = '05' AND PD_GRP_CD IN ('5','7','8','9', '91', '93', '95', '96')) THEN 32277
                                                                                            ELSE 0 END),0)
                                    END)
             WHEN A.NM = '5' THEN NVL(SUM(DECODE(MM, '05', PR)),0)
             ELSE NVL(SUM(DECODE(MM, '05', 1)),0) END AS M05
      , CASE WHEN A.NM = '4' THEN (CASE WHEN #{baseY} &lt;= 2015
                                                              THEN NVL(SUM(DECODE(MM, '06', 1)),0) * 27995
                                                      WHEN #{baseY} >=2016 AND #{baseY} &lt;= 2018
                                                               THEN NVL(SUM(DECODE(MM, '06', 1)),0) * 26654
                                                      WHEN #{baseY} >=2019
                                                               THEN NVL(SUM(CASE WHEN (MM = '06' AND PD_GRP_CD NOT IN ('5','7','8','9', '91', '93', '95', '96')) THEN 26748
                                                                                          WHEN (MM = '06' AND PD_GRP_CD IN ('5','7','8','9', '91', '93', '95', '96')) THEN 32277
                                                                                            ELSE 0 END),0)
                                    END)
             WHEN A.NM = '5' THEN NVL(SUM(DECODE(MM, '06', PR)),0)
             ELSE NVL(SUM(DECODE(MM, '06', 1)),0) END AS M06
      , CASE WHEN A.NM = '4' THEN (CASE WHEN #{baseY} &lt;= 2015
                                                              THEN NVL(SUM(DECODE(MM, '07', 1)),0) * 27995
                                                      WHEN #{baseY} >=2016 AND #{baseY} &lt;= 2018
                                                               THEN NVL(SUM(DECODE(MM, '07', 1)),0) * 26654
                                                      WHEN #{baseY} >=2019
                                                               THEN NVL(SUM(CASE WHEN (MM = '07' AND PD_GRP_CD NOT IN ('5','7','8','9', '91', '93', '95', '96')) THEN 26748
                                                                                          WHEN (MM = '07' AND PD_GRP_CD IN ('5','7','8','9', '91', '93', '95', '96')) THEN 32277
                                                                                            ELSE 0 END),0)
                                    END)
             WHEN A.NM = '5' THEN NVL(SUM(DECODE(MM, '07', PR)),0)
             ELSE NVL(SUM(DECODE(MM, '07', 1)),0) END AS M07
      , CASE WHEN A.NM = '4' THEN (CASE WHEN #{baseY} &lt;= 2015
                                                              THEN NVL(SUM(DECODE(MM, '08', 1)),0) * 27995
                                                      WHEN #{baseY} >=2016 AND #{baseY} &lt;= 2018
                                                               THEN NVL(SUM(DECODE(MM, '08', 1)),0) * 26654
                                                      WHEN #{baseY} >=2019
                                                               THEN NVL(SUM(CASE WHEN (MM = '08' AND PD_GRP_CD NOT IN ('5','7','8','9', '91', '93', '95', '96')) THEN 26748
                                                                                          WHEN (MM = '08' AND PD_GRP_CD IN ('5','7','8','9', '91', '93', '95', '96')) THEN 32277
                                                                                            ELSE 0 END),0)
                                    END)
             WHEN A.NM = '5' THEN NVL(SUM(DECODE(MM, '08', PR)),0)
             ELSE NVL(SUM(DECODE(MM, '08', 1)),0) END AS M08
      , CASE WHEN A.NM = '4' THEN (CASE WHEN #{baseY} &lt;= 2015
                                                              THEN NVL(SUM(DECODE(MM, '09', 1)),0) * 27995
                                                      WHEN #{baseY} >=2016 AND #{baseY} &lt;= 2018
                                                               THEN NVL(SUM(DECODE(MM, '09', 1)),0) * 26654
                                                      WHEN #{baseY} >=2019
                                                               THEN NVL(SUM(CASE WHEN (MM = '09' AND PD_GRP_CD NOT IN ('5','7','8','9', '91', '93', '95', '96')) THEN 26748
                                                                                          WHEN (MM = '09' AND PD_GRP_CD IN ('5','7','8','9', '91', '93', '95', '96')) THEN 32277
                                                                                            ELSE 0 END),0)
                                    END)
             WHEN A.NM = '5' THEN NVL(SUM(DECODE(MM, '09', PR)),0)
             ELSE NVL(SUM(DECODE(MM, '09', 1)),0) END AS M09
      , CASE WHEN A.NM = '4' THEN (CASE WHEN #{baseY} &lt;= 2015
                                                              THEN NVL(SUM(DECODE(MM, '10', 1)),0) * 27995
                                                      WHEN #{baseY} >=2016 AND #{baseY} &lt;= 2018
                                                               THEN NVL(SUM(DECODE(MM, '10', 1)),0) * 26654
                                                      WHEN #{baseY} >=2019
                                                               THEN NVL(SUM(CASE WHEN (MM = '10' AND PD_GRP_CD NOT IN ('5','7','8','9', '91', '93', '95', '96')) THEN 26748
                                                                                          WHEN (MM = '10' AND PD_GRP_CD IN ('5','7','8','9', '91', '93', '95', '96')) THEN 32277
                                                                                            ELSE 0 END),0)
                                    END)
             WHEN A.NM = '5' THEN NVL(SUM(DECODE(MM, '10', PR)),0)
             ELSE NVL(SUM(DECODE(MM, '10', 1)),0) END AS M10
      , CASE WHEN A.NM = '4' THEN (CASE WHEN #{baseY} &lt;= 2015
                                                              THEN NVL(SUM(DECODE(MM, '11', 1)),0) * 27995
                                                      WHEN #{baseY} >=2016 AND #{baseY} &lt;= 2018
                                                               THEN NVL(SUM(DECODE(MM, '11', 1)),0) * 26654
                                                      WHEN #{baseY} >=2019
                                                               THEN NVL(SUM(CASE WHEN (MM = '11' AND PD_GRP_CD NOT IN ('5','7','8','9', '91', '93', '95', '96')) THEN 26748
                                                                                          WHEN (MM = '11' AND PD_GRP_CD IN ('5','7','8','9', '91', '93', '95', '96')) THEN 32277
                                                                                            ELSE 0 END),0)
                                    END)
             WHEN A.NM = '5' THEN NVL(SUM(DECODE(MM, '11', PR)),0)
             ELSE NVL(SUM(DECODE(MM, '11', 1)),0) END AS M11
      , CASE WHEN A.NM = '4' THEN (CASE WHEN #{baseY} &lt;= 2015
                                                              THEN NVL(SUM(DECODE(MM, '12', 1)),0) * 27995
                                                      WHEN #{baseY} >=2016 AND #{baseY} &lt;= 2018
                                                               THEN NVL(SUM(DECODE(MM, '12', 1)),0) * 26654
                                                      WHEN #{baseY} >=2019
                                                               THEN NVL(SUM(CASE WHEN (MM = '12' AND PD_GRP_CD NOT IN ('5','7','8','9', '91', '93', '95', '96')) THEN 26748
                                                                                          WHEN (MM = '12' AND PD_GRP_CD IN ('5','7','8','9', '91', '93', '95', '96')) THEN 32277
                                                                                            ELSE 0 END),0)
                                    END)
             WHEN A.NM = '5' THEN NVL(SUM(DECODE(MM, '12', PR)),0)
             ELSE NVL(SUM(DECODE(MM, '12', 1)),0) END AS M12
      , CASE WHEN A.NM = '4' THEN (CASE WHEN #{baseY} &lt;= 2015
                                                              THEN COUNT(1) * 27995
                                                      WHEN #{baseY} >=2016 AND #{baseY} &lt;= 2018
                                                               THEN COUNT(1) * 26654
                                                      WHEN #{baseY} >=2019
                                                               THEN NVL(SUM(CASE WHEN (PD_GRP_CD NOT IN ('5','7','8','9', '91', '93', '95', '96')) THEN 26748
                                                                                          WHEN (PD_GRP_CD IN ('5','7','8','9', '91', '93', '95', '96')) THEN 32277
                                                                                            ELSE 0 END),0)
                                    END)
             WHEN A.NM = '5' THEN SUM(PR)
             ELSE COUNT(*) END AS TOTAL_CNT
      , 0 AS MAX_VAL
      , 0 AS MIN_VAL
      , 0 AS AVG_VAL
 FROM (
        SELECT  '1' AS NM -- A/S건
               , SV_MNGT_TP_CD AS TYP   -- 구분
               , SUBSTR(WK_PRCSDT,1,4) AS YYYY
               , SUBSTR(WK_PRCSDT,5,2) AS MM
              , 0 AS PR
              , VS161.PD_CD AS GDS_CD
              , PD_GRP_CD AS PD_GRP_CD
           FROM TB_SVPD_QLTY_MNGT_AS_DTL_IZ VS161
          WHERE WK_PROCS_YM LIKE #{baseY}||'%'
            AND ((BFSVC_TP_CD = '1' AND PD_GRP_CD NOT LIKE '9%' AND VS161.PD_CD != 'WM01100154' AND VS161.PD_CD != 'WM01100035')  OR  PD_GRP_CD = '6' OR (BFSVC_TP_CD = '2' AND VS161.PD_CD IN ('WM02100147','WM02100148','WM04100162','WM02100173','WM02100170','WM01100174','WM02100175','WM03100193','WM03100193','WM03100194','WM03100195','WM03100196','WM03100197') ))
            AND ((WK_PROCS_YM &lt; '201901' AND (IMPTA_RSON_NM IN ('1','2','3','4','5','6') OR IMPTA_RSON_NM IS NULL)) OR (WK_PROCS_YM >= '201901' AND (BAD_DV_CD IN ('100R','500R','400R','700R') OR BAD_DV_CD IS NULL)))
            AND TRIM(PD_GRP_CD) != '11'
            AND ((SV_PROCS_FOM_CD != '114A') OR (SV_PROCS_FOM_CD IS NULL))

         UNION ALL

        SELECT  '2' AS NM --렌탈 계정(수)
               , T1.SELL_TP_CD  AS TYP
               , SUBSTR(MNGT_YM,1,4) AS YYYY
               , SUBSTR(MNGT_YM,5,2) AS MM
               , 0 AS PR
               , PDCT_PD_CD
               , T2.PD_PRP_VAL20 AS PD_GRP_CD
           FROM TB_SVPD_MCBY_CST_SV_OJ_IZ AC202
        INNER JOIN TB_SSCT_CNTR_DTL  T1
             ON T1.CNTR_NO = AC202.CNTR_NO
            AND T1.CNTR_SN = AC202.CNTR_SN
            AND T1.CNTR_DTL_STAT_CD != '401'
            AND T1.DTA_DL_YN = 'N'
        INNER JOIN TB_PDBS_PD_ECOM_PRP_DTL T2
             ON T2.PD_CD  = PDCT_PD_CD
            AND T2.PD_PRP_VAL20 != '11'
            AND T2.PD_EXTS_PRP_GRP_CD = 'PART'
        INNER JOIN T_CMZ_CD_D T5         /*코드상세, ST101_ITEM_GR*/
             ON T2.PD_PRP_VAL20 = T5.CD_VLD_VAL
            AND T5.TENANT_ID = 'TNT_WELLS'
            AND T5.CD_ID = 'PD_GRP_CD'
            AND T5.DEL_YN = 'N'
         WHERE 1=1
           AND MNGT_YM LIKE #{baseY}||'%'
           AND ((BFSVC_TP_CD = '1' AND T2.PD_PRP_VAL20 NOT LIKE '9%' AND AC202.PDCT_PD_CD != 'WM01100154' AND AC202.PDCT_PD_CD != 'WM01100035')  OR  T2.PD_PRP_VAL20 = '6' OR (BFSVC_TP_CD = '2' AND AC202.PDCT_PD_CD IN ('WM02100147','WM02100148','WM04100162','WM02100173','WM02100170','WM01100174','WM02100175','WM03100193','WM03100193','WM03100194','WM03100195','WM03100196','WM03100197') ))

          UNION ALL

         SELECT   '3' AS NM --A/S율(%)
                 , '' AS TYP
                 , #{baseY} AS YYYY
                 , '' AS MM
                 , 0 AS PR
                 , '' AS GDS_CD
                 , '' AS PD_GRP_CD
           FROM  DUAL

       UNION ALL

         SELECT  '4' AS NM -- 엔지니어비용
               , SV_MNGT_TP_CD AS TYP   -- 구분
               , SUBSTR(WK_PRCSDT,1,4) AS YYYY
               , SUBSTR(WK_PRCSDT,5,2) AS MM
               , 0 AS PR
               , VS161.PD_CD
               , PD_GRP_CD AS PD_GRP_CD
           FROM TB_SVPD_QLTY_MNGT_AS_DTL_IZ VS161
          WHERE WK_PROCS_YM LIKE #{baseY}||'%'
            AND ((BFSVC_TP_CD = '1' AND PD_GRP_CD NOT LIKE '9%' AND VS161.PD_CD != 'WM01100154' AND VS161.PD_CD != 'WM01100035')  OR  PD_GRP_CD = '6' OR (BFSVC_TP_CD = '2' AND VS161.PD_CD IN ('WM02100147','WM02100148','WM04100162','WM02100173','WM02100170','WM01100174','WM02100175','WM03100193','WM03100193','WM03100194','WM03100195','WM03100196','WM03100197') ))
            AND ((WK_PROCS_YM &lt; '201901' AND (IMPTA_RSON_NM IN ('1','2','3','4','5','6') OR IMPTA_RSON_NM IS NULL)) OR (WK_PROCS_YM >= '201901' AND (BAD_DV_CD IN ('100R','500R','400R','700R') OR BAD_DV_CD IS NULL)))
            AND TRIM(PD_GRP_CD) != '11'
            AND ((SV_PROCS_FOM_CD != '114A') OR (SV_PROCS_FOM_CD IS NULL))

          UNION ALL

          SELECT  '5' AS NM -- 부품비용
               , SV_MNGT_TP_CD    -- 구분
               , SUBSTR(WK_PRCSDT,1,4) AS YYYY
               , SUBSTR(WK_PRCSDT,5,2) AS MM
               , NVL((SELECT SUM(CASE WHEN SV_BIZ_HCLSF_CD = '1' OR SV_BIZ_HCLSF_CD = '2' OR SV_BIZ_HCLSF_CD = '3' THEN PDCT_UPRC
                                      ELSE 0
	                              END)
	                   FROM TB_SVST_SV_WK_OSTR_IZ ST163
                 INNER JOIN TB_PDBS_PD_BAS ST101
                         ON ST101.PD_CD = ST163.ITM_PD_CD
                        AND ST101.PD_TP_CD = 'M'
                        AND ST101.PD_TP_DTL_CD = '02'
                      WHERE ST163.CNTR_NO = VS161.CNTR_NO
                        AND ST163.CNTR_SN = VS161.CNTR_SN
                        AND ST163.CST_SV_ASN_NO     = VS161.CST_SV_ASN_NO) , 0) AS PR
               , VS161.PD_CD
               , PD_GRP_CD AS PD_GRP_CD
           FROM TB_SVPD_QLTY_MNGT_AS_DTL_IZ VS161
          WHERE WK_PROCS_YM LIKE #{baseY}||'%'
           AND ((BFSVC_TP_CD = '1' AND PD_GRP_CD NOT LIKE '9%' AND VS161.PD_CD != 'WM01100154' AND VS161.PD_CD != 'WM01100035')  OR  PD_GRP_CD = '6' OR (BFSVC_TP_CD = '2' AND VS161.PD_CD IN ('WM02100147','WM02100148','WM04100162','WM02100173','WM02100170','WM01100174','WM02100175','WM03100193','WM03100193','WM03100194','WM03100195','WM03100196','WM03100197') ))
           AND ((WK_PROCS_YM &lt; '201901' AND (IMPTA_RSON_NM IN ('1','2','3','4','5','6') OR IMPTA_RSON_NM IS NULL)) OR (WK_PROCS_YM >= '201901' AND (BAD_DV_CD IN ('100R','500R','400R','700R') OR BAD_DV_CD IS NULL)))
           AND TRIM(PD_GRP_CD) != '11'
           AND ((SV_PROCS_FOM_CD != '114A') OR (SV_PROCS_FOM_CD IS NULL))

                    )A
GROUP BY  A.NM
       , A.YYYY||'년'
ORDER BY NM

    </select>

</mapper>
