<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kyowon.sms.wells.web.service.visit.mapper.WsnbFeverbikeBiztalkMapper">


    <select id="selectFeverbikeBiztalk" resultType="com.kyowon.sms.wells.web.service.visit.dvo.WsnbFeverbikeBiztalkDvo">

    /*SELECT REPLACE(LC31.LCYEAR,',','') || LPAD(LC31.LCCODE, 7, '0') AS CNTR_NO
     , VS173_PINF_PRV_YN AS PIF_THP_OFR_AG_YN
     , TRIM(TO_SINGLE_BYTE(LC31.LCWNAM)) AS CNTR_CST_NM
     , TRIM(LC31.LCWNO1)||TRIM(CIPDEC('df',LC31.LCWNO2))||TRIM(LC31.LCWNO3) AS MPNO
    FROM KWMART.LC3100P LC31 *//*렌탈*//*
       , LC_VISIT_VS173TB VS173
    WHERE LC31.LCICDE = '4581'
     AND REPLACE(LC31.LCCANY,',','') = 0 *//*취소된 주문 제외*//*
     AND REPLACE(LC31.LCYEAR,',','') = VS173.VS173_CSMR_YR(+)
     AND REPLACE(LC31.LCCODE,',','') = VS173.VS173_CSMR_CD(+)
     AND REPLACE(LC31.LCSLEY,',','') || LPAD(REPLACE(LC31.LCSLEM, ',',''),2,'0')||LPAD(REPLACE(LC31.LCSLED, '', ''),2,'0') >= TO_CHAR(SYSDATE - 1000, 'YYYYMMDD')
     AND VS173_SEND_DT(+) IS NULL
    UNION ALL
    SELECT REPLACE(LC30.LCYEAR, ',','') || LPAD(LC30.LCCODE, 7, '0') AS CNTR_NO
       , VS173_PINF_PRV_YN AS PIF_THP_OFR_AG_YN
       , TRIM(TO_SINGLE_BYTE(LC30.LCWNAM)) AS CNTR_CST_NM
       , TRIM(LC30.LCWNO1)||TRIM(CIPDEC('df',LC30.LCWNO2))||TRIM(LC30.LCWNO3) AS MPNO
    FROM KWMART.LC3000P LC30 *//*일시불*//*
      , KWMART.LC2200P LC22
      , LC_VISIT_VS173TB VS173
    WHERE 1=1
    AND LC30.LCIC01 = '4581'
    AND REPLACE(LC30.LCCANY, ',','') = 0
    AND REPLACE(LC22.LCUPDY, ',','') > 0 *//*합계체크 완료*//*
    AND REPLACE(LC22.LCYEAR, ',','') = REPLACE(LC30.LCYEAR, ',','')
    AND REPLACE(LC22.LCCODE, ',','') = REPLACE(LC30.LCCODE, ',','')
    AND REPLACE(LC30.LCYEAR, ',','') = VS173.VS173_CSMR_YR(+)
    AND REPLACE(LC30.LCCODE, ',','') = VS173.VS173_CSMR_CD(+)
    AND REPLACE(LC30.LCSLEY, ',','') || LPAD(REPLACE(LC30.LCSLEM, ',', ''),2,'0')||LPAD(REPLACE(LC30.LCSLED, ',', ''),2,'0') >= TO_CHAR(SYSDATE - 2, 'YYYYMMDD')
    AND VS173_SEND_DT(+) IS NULL;*/

    SELECT '20223604078' AS CNTR_NO, 0 AS CNTR_SN, ''  AS PIF_THP_OFR_AG_YN, '고정임' AS CNTR_CST_NM, '01000007617' AS MPNO FROM DUAL UNION ALL
    SELECT '20223620175' AS CNTR_NO, 0 AS CNTR_SN, ''  AS PIF_THP_OFR_AG_YN, '임현성' AS CNTR_CST_NM, '01000008122' AS MPNO FROM DUAL UNION ALL
    SELECT '20223620205' AS CNTR_NO, 0 AS CNTR_SN, 'Y' AS PIF_THP_OFR_AG_YN, '이강숙' AS CNTR_CST_NM, '01000000461' AS MPNO FROM DUAL UNION ALL
    SELECT '20223620380' AS CNTR_NO, 0 AS CNTR_SN, ''  AS PIF_THP_OFR_AG_YN, '최영주' AS CNTR_CST_NM, '01000001424' AS MPNO FROM DUAL UNION ALL
    SELECT '20223620625' AS CNTR_NO, 0 AS CNTR_SN, 'Y' AS PIF_THP_OFR_AG_YN, '차선진' AS CNTR_CST_NM, '01000009337' AS MPNO FROM DUAL UNION ALL
    SELECT '20223621190' AS CNTR_NO, 0 AS CNTR_SN, 'Y' AS PIF_THP_OFR_AG_YN, '전경구' AS CNTR_CST_NM, '01000009822' AS MPNO FROM DUAL UNION ALL
    SELECT '20223621480' AS CNTR_NO, 0 AS CNTR_SN, ''  AS PIF_THP_OFR_AG_YN, '서중기' AS CNTR_CST_NM, '01000007799' AS MPNO FROM DUAL UNION ALL
    SELECT '20223622018' AS CNTR_NO, 0 AS CNTR_SN, 'Y' AS PIF_THP_OFR_AG_YN, '김재호' AS CNTR_CST_NM, '01000009850' AS MPNO FROM DUAL
    </select>

    <update id="updateFeverbikeBiztalk">
    UPDATE TB_SVPD_SPMT_SV_PIF_U_AG_IZ
       SET NOTAK_FW_DT = TO_CHAR(SYSDATE , 'YYYYMMDD')
           <include refid="COMMON.updateSystemField"/>
     WHERE DTA_DL_YN = 'N'
       AND CNTR_NO = #{cntrNo}
    </update>

</mapper>
