<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kyowon.sms.wells.web.service.common.mapper.WsnyPaidAsCostMgtMapper">
    <select id="selectPaidAsCostMgts" resultType="com.kyowon.sms.wells.web.service.common.dto.WsnyPaidAsCostMgtDto$SearchRes">
        SELECT P1.SAP_MAT_CD /*SAP코드*/
             , T1.USE_MAT_PD_CD /*품목코드*/
             , (SELECT X.PD_NM FROM TB_PDBS_PD_BAS X WHERE X.PD_CD = T1.USE_MAT_PD_CD) AS PD_NM/*품목명*/
             , T1.APY_STRTDT /*적용시작일*/
             , T1.APY_ENDDT /*적용종료일*/
             , NVL(T1.CSMR_UPRC_AMT,0) AS CSMR_UPRC_AMT /*소비자가*/
             , NVL(T1.WHLS_UPRC_AMT,0) AS WHLS_UPRC_AMT /*도매단가*/
             , NVL(T1.INSI_UPRC_AMT,0) AS INSI_UPRC_AMT /*도매단가*/
             , NVL(T1.TCFEE_AMT,0) AS TCFEE_AMT /*기술료*/
             , NVL(T1.CSMR_UPRC_AMT + T1.TCFEE_AMT,0) AS SUM_AMT /*합계(소비자가+기술료)*/
             , NVL(T1.IZ_SN, 0) AS IZ_SN /* 내역일련번호 */
             , T1.PDCT_PD_CD /* 기준상품코드 */
          FROM TB_SVPD_RCAS_ITM_PRC_IZ T1
          LEFT OUTER JOIN TB_PDBS_PD_BAS P1
            ON T1.PDCT_PD_CD = P1.PD_CD
         INNER JOIN TB_PDBS_PD_ECOM_PRP_DTL P2
            ON P1.PD_CD = P2.PD_CD
           AND P2.PD_EXTS_PRP_GRP_CD = 'PART'
           AND P2.DTA_DL_YN = 'N'
           /* 현재적용자료 체크시 */
           <if test='@MybatisUtils@isNotEmpty(apyMtrChk) and @MybatisUtils@equals(apyMtrChk,"Y")'>
           AND TO_CHAR( SYSDATE, 'YYYYMMDD') BETWEEN T1.APY_STRTDT AND T1.APY_ENDDT
           </if>
         WHERE 1=1
           /* 공통부품 언체크시 */
           <if test='@MybatisUtils@isNotEmpty(cmnPartChk) and @MybatisUtils@equals(cmnPartChk,"N")'>
           <choose>
               <when test="@MybatisUtils@isEmpty(pdCd)">
                /* 전체 조회 */
                   AND P2.PD_PRP_VAL19 = #{hgrPdCd}
               </when>
               <otherwise>
                /* 상품명 선택 시 조회 */
                AND P1.PD_CD = #{pdCd}
                AND P1.PD_CD != '0000000000'
               </otherwise>
           </choose>
           </if>
           /* 공통부품 체크시 */
           <if test='@MybatisUtils@isNotEmpty(cmnPartChk) and @MybatisUtils@equals(cmnPartChk,"Y")'>
                AND ((
                       P2.PD_PRP_VAL21 IN ('00','01')
                      <if test="@MybatisUtils@isNotEmpty(hgrPdCd)">
                        OR P2.PD_PRP_VAL21 = #{hgrPdCd} || '0'
                       </if>
                   )
                  <if test="@MybatisUtils@isNotEmpty(pdCd)">
                  OR P1.PD_CD = #{pdCd}
                  </if>
                  )
                AND P1.PD_CD != '0000000000'
           </if>
         ORDER BY P1.PD_CD ASC, T1.IZ_SN ASC
    </select>

    <select id="selectHgrPdCd" resultType="com.kyowon.sms.wells.web.service.common.dto.WsnyPaidAsCostMgtDto$PdRes">
        SELECT T1.SVPD_PD_CD AS CODE_ID
             , T1.SVPD_NM_ABBR1  || '(' || T1.SVPD_PD_CD || ')' AS CODE_NAME
          FROM (<include refid="com.kyowon.sms.wells.web.service.common.BASE.selectPartMaster"/>) T1
         WHERE T1.SVPD_ITEM_KND = '4'
         <if test='@MybatisUtils@isNotEmpty(hgrPdCd)'>
           AND T1.SVPD_ITEM_GR = #{hgrPdCd}
         </if>
         ORDER BY T1.SVPD_ITEM_CD, T1.SVPD_PART_CD
    </select>

    <update id="updatePaidAsCostMgts">
        UPDATE TB_SVPD_RCAS_ITM_PRC_IZ
           SET CSMR_UPRC_AMT = ${csmrUprcAmt} /* 소비자단가금액 */
             , WHLS_UPRC_AMT = ${whlsUprcAmt} /* 도매단가금액 */
             , INSI_UPRC_AMT = ${insiUprcAmt} /* 내부단가금액*/
             , TCFEE_AMT = ${tcfeeAmt} /* 기술료금액 */
             , APY_STRTDT = #{apyStrtdt} /* 적용시작일 */
             , APY_ENDDT = #{apyEnddt} /* 적용종료일 */
               <include refid="COMMON.updateSystemField"/>
         WHERE PDCT_PD_CD = #{pdctPdCd}
           AND USE_MAT_PD_CD = #{useMatPdCd}
           AND IZ_SN = ${izSn}
    </update>

</mapper>
