<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kyowon.sms.wells.web.service.common.mapper.WsnyPaidAsCostMgtMapper">
    <select id="selectPaidAsCostMgts" resultType="com.kyowon.sms.wells.web.service.common.dto.WsnyPaidAsCostMgtDto$SearchRes">
        SELECT P1.SAP_MAT_CD /*SAP코드*/
             , NVL(NVL(T1.USE_MAT_PD_CD, P3.OJ_PD_CD), P1.PD_CD) AS USE_MAT_PD_CD /*품목코드*/
             , NVL((SELECT X.PD_NM FROM TB_PDBS_PD_BAS X WHERE X.PD_CD = NVL(T1.USE_MAT_PD_CD, P3.OJ_PD_CD)), P1.PD_NM) AS PD_NM/*품목명*/
             , T1.APY_STRTDT /*적용시작일*/
             , T1.APY_ENDDT /*적용종료일*/
             , NVL(T1.CSMR_UPRC_AMT,0) AS CSMR_UPRC_AMT /*소비자가*/
             , NVL(T1.WHLS_UPRC_AMT,0) AS WHLS_UPRC_AMT /*도매단가*/
             , NVL(T1.INSI_UPRC_AMT,0) AS INSI_UPRC_AMT /*도매단가*/
             , NVL(T1.TCFEE_AMT,0) AS TCFEE_AMT /*기술료*/
             , NVL(T1.CSMR_UPRC_AMT + T1.TCFEE_AMT,0) AS SUM_AMT /*합계(소비자가+기술료)*/
             , NVL(T1.IZ_SN, 0) AS IZ_SN /* 내역일련번호 */
             , P3.BASE_PD_CD AS PDCT_PD_CD /* 기준상품코드 */
          FROM TB_PDBS_PD_BAS P1
         INNER JOIN TB_PDBS_PD_ECOM_PRP_DTL P2
            ON P1.PD_CD = P2.PD_CD
           AND P2.PD_EXTS_PRP_GRP_CD = 'PART'
           AND P2.DTA_DL_YN = 'N'
         LEFT OUTER JOIN TB_PDBS_PD_REL P3
            ON P1.PD_CD = P3.BASE_PD_CD
           AND P3.DTA_DL_YN = 'N'
           AND P3.PD_REL_TP_CD = '14'
           AND TO_CHAR(SYSDATE, 'YYYYMMDD') BETWEEN P3.VL_STRT_DTM AND P3.VL_END_DTM
          LEFT OUTER JOIN TB_SVPD_RCAS_ITM_PRC_IZ T1
            ON P3.OJ_PD_CD = T1.USE_MAT_PD_CD
           AND T1.DTA_DL_YN = 'N'
         WHERE 1=1
           /* 현재적용자료 체크시 */
           <if test='@MybatisUtils@isNotEmpty(apyMtrChk) and @MybatisUtils@equals(apyMtrChk,"Y")'>
           AND TO_CHAR( SYSDATE, 'YYYYMMDD') BETWEEN T1.APY_STRTDT AND T1.APY_ENDDT
           </if>
           /* 공통부품 언체크시 */
           <if test='@MybatisUtils@isNotEmpty(cmnPartChk) and @MybatisUtils@equals(cmnPartChk,"N")'>
               <if test="@MybatisUtils@isEmpty(pdCd) and @MybatisUtils@isNotEmpty(pdGrpCd)">
                /* 전체 조회 */
                   AND P2.PD_PRP_VAL20 = #{pdGrpCd}
               </if>
               <if test="@MybatisUtils@isNotEmpty(pdCd)">
                /* 상품명 선택 시 조회 */
                AND P3.BASE_PD_CD = #{pdCd}
               </if>
                AND P1.PD_CD != '0000000000'
           </if>
           /* 공통부품 체크시 */
           <if test='@MybatisUtils@isNotEmpty(cmnPartChk) and @MybatisUtils@equals(cmnPartChk,"Y")'>
                AND ((
                       P2.PD_PRP_VAL21 IN ('00','01')
                      <if test="@MybatisUtils@isNotEmpty(pdGrpCd)">
                        OR P2.PD_PRP_VAL21 = #{pdGrpCd} || '0'
                       </if>
                   )
                  <if test="@MybatisUtils@isNotEmpty(pdCd)">
                  OR P3.BASE_PD_CD = #{pdCd}
                  </if>
                  )
                AND P1.PD_CD != '0000000000'
           </if>
         ORDER BY P1.PD_CD ASC, T1.IZ_SN ASC
    </select>

    <insert id="insertPaidAsCostMgts">
        INSERT INTO TB_SVPD_RCAS_ITM_PRC_IZ (
               PDCT_PD_CD
             , USE_MAT_PD_CD
             , CSMR_UPRC_AMT /* 소비자단가금액 */
             , WHLS_UPRC_AMT /* 도매단가금액 */
             , INSI_UPRC_AMT /* 내부단가금액*/
             , TCFEE_AMT  /* 기술료금액 */
             , APY_STRTDT /* 적용시작일 */
             , APY_ENDDT  /* 적용종료일 */
             , IZ_SN
             , DTA_DL_YN
               <include refid="COMMON.insertSystemField"/>
        ) VALUES (
                 #{pdctPdCd}
               , #{useMatPdCd}
               , #{csmrUprcAmt} /* 소비자단가금액 */
               , #{whlsUprcAmt} /* 도매단가금액 */
               , #{insiUprcAmt} /* 내부단가금액*/
               , #{tcfeeAmt} /* 기술료금액 */
               , #{apyStrtdt} /* 적용시작일 */
               , #{apyEnddt} /* 적용종료일 */
               , (SELECT MAX(IZ_SN) + 1
                    FROM TB_SVPD_RCAS_ITM_PRC_IZ
                   WHERE 1=1
                     AND USE_MAT_PD_CD = #{useMatPdCd}
                     AND IZ_SN = #{izSn}
                  )
               , 'N'
              <include refid="COMMON.insertSystemFieldValue"/>
        )
    </insert>

    <update id="updatePaidAsCostMgts">
        UPDATE TB_SVPD_RCAS_ITM_PRC_IZ
           SET APY_ENDDT = TO_CHAR( SYSDATE, 'YYYYMMDD')  /* 적용종료일 */
               <include refid="COMMON.updateSystemField"/>
         WHERE 1=1
           AND USE_MAT_PD_CD = #{useMatPdCd}
           AND IZ_SN = ${izSn}
    </update>

</mapper>
