<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=2.4, minimum-scale=0.3, user-scalable=no, target-densitydpi=medium-dpi"/>
    <meta name="format-detection" content="telephone=no">
    <title>교원 관심고객등록</title>

    <!-- 기본 css -->
    <link type="text/css" href="/resources/css/style.css" rel="stylesheet" >

    <!-- 기본 js -->
    <script type="text/javascript" src="/resources/js/jquery/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/resources/js/jquery/jquery.dcjqaccordion.js"></script>
    <script type="text/javascript" src="/resources/js/jquery/jquery.easing-1.3.min.js"></script>
    <script type="text/javascript" src="/resources/js/jquery/jquery-ui.js"></script>
    <script type="text/javascript" src="/resources/js/jquery/jquery.numeric.min.js"></script>
    <script type="text/javascript" src="/resources/js/common.js"></script>
    <script type="text/javascript" src="/resources/js/custom.js"></script>
    <script type="text/javascript" src="/resources/js/payment/common.js"></script>

    <!-- 카카오 Agent(싱크) -->
    <script type="text/javascript" src="/resources/js/sdk.js"></script>
    <link id="home" th:data-contextPath="${@environment.getProperty('kakaosync.home')}"/>
    <script> var akdcde = '[[${akdcde}]]' </script>
    <script type="text/javascript" src="/resources/js/login.js"></script>
</head>

<script>

</script>


<body>
<!-- wrap -->
<div id="wrap" style="max-width: 800px; margin: 0 auto; border: 1px solid #e1e1e1">
    <!-- mask -->
    <div id="mask"><div class="layerWindow"></div></div>
    <!-- //mask -->
    <!-- header -->
    <header id="header">
        <div class="header_wrap">
            <div class="logo">
                <img src="/resources/img/wells.png"
                 alt="kyowonwells"/>
            </div>
        </div>
    </header>
    <!--// header -->

    <!-- main -->
    <div id="main">
        <!-- 메인 비주얼 -->


            <div class="member_wrap login_wrap mg-t50">

                <div class="mg-t30 info_txt C">
                    <h1 class=" C">교원 관심고객 가입페이지 </br> 가입페이지</h1>
                    <div class="mg-t20"></div>
                    방문을 환영합니다.<br/>
                    간편가입 등록을 위해 카카오계정으로 로그인 해주세요.
                </div>


                <div class="btn_div mg-t50">
                	<!--
                	<div class="mg-b20 C"></div>
                    <div class="btn btn_full_gry" style="line-height:60px;font-weight:bold;"  onclick="goLoginInpt()">로그인</div>
                     -->
                    <div class="mg-b20 C"></div>
                    <div class="btn btn_full_ylw" th:onclick="goKakaoSync()"><span class="btn_kakao"></span> 카카오계정 로그인</div>
                    <!--
                    <div class="mg-b20 C"></div>
                    <div class="btn btn_full_org" style="line-height:60px" onclick="goJoinAgree()">회원가입</div>
                     -->
                </div>
            </div>

    </div>
    <!--// main -->

    <!-- footer -->
    <footer id="footer">
        <div class="inner PR">
            <div class="foot_cust">

            </div>
            <div class="foot_info_wrap">
                <div class="foot_menu">
                    <!-- 추후 하위 html (ex : 이용약관 페이지 개발 후 Thymeleaf 문법으로 변경) -->
                    <a href="/resources/link/rule.html">이용약관</a>
                    <a href="/resources/link/privacy.html">개인정보수집약관</a>
                    <a href="/resources/link/maketing.html">마케팅목적처리</a>
<!--                <a href="${pageContext.request.contextPath}/resources/kakaoLogin/Html/rule.html">이용약관</a>
                    <a href="${pageContext.request.contextPath}/resources/kakaoLogin/Html/privacy.html">개인정보수집약관</a>
                   	<a href="${pageContext.request.contextPath}/resources/kakaoLogin/Html/maketing.html">마케팅목적처리</a>-->
                </div>

                <div class="foot_info_tit">교원 사업자정보</div>
                <div class="foot_info">
                        <span class="db640">대표자 : 장평순</span> </br>
                        	사업자등록번호 : 101-81-39767 </br>
                        	통신판매업 신고번호 : 제 2016-서울중구-0988호 </br>
                        <span class="db640">소재지 : ㈜교원 서울특별시 중구 을지로51(을지로2가6번지)</span>
                    </div>
                    <ul class="cust_num">
                        <li><span>고객센터</span><a href="tel:1588-4113">1588-4113</a></li>
                    </ul>
            </div>
        </div>

    </footer>
    <!--// footer -->

</div>
<!--// wrap -->
</body>
</html>
