<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=2.4, minimum-scale=0.3, user-scalable=no, target-densitydpi=medium-dpi"/>
    <meta name="format-detection" content="telephone=no">
    <title>교원 관심고객등록</title>

    <!-- 기본 css -->
    <link type="text/css" th:href="@{/css/style.css?dt=20220117}" rel="stylesheet" >

    <!-- 기본 js -->
    <script type="text/javascript" th:src="@{/js/jquery/jquery-1.11.3.min.js}" />
    <script type="text/javascript" th:src="@{/js/jquery/jquery.dcjqaccordion.js}" />
    <script type="text/javascript" th:src="@{/js/jquery/jquery.easing-1.3.min.js}" />
    <script type="text/javascript" th:src="@{/js/jquery/jquery-ui.js}" />
    <script type="text/javascript" th:src="@{/js/jquery/jquery.numeric.min.js}" />
    <script type="text/javascript" th:src="@{/js/common.js}" />
    <script type="text/javascript" th:src="@{/js/custom.js}" />
    <script type="text/javascript" th:src="@{/js/payment/common.js}" />

    <!-- 카카오 Agent(싱크) -->
    <script type="text/javascript" th:src="@{/js/sdk.js}" />
</head>

<script th:inline="javascript">
//전역변수
var name = "[[${name}]]";
var KKAO_ID = "${KKAO_ID}";
var clphNo1 = "<%=request.getAttribute("clphNo1")%>";		// 휴대전화번호1
var clphNo2 = "<%=request.getAttribute("clphNo2")%>";		// 휴대전화번호2
var clphNo3 = "<%=request.getAttribute("clphNo3")%>";		// 휴대전화번호3
var akdcde = "<%=request.getAttribute("akdcde")%>";
var akdnam = "<%=request.getAttribute("akdnam")%>";
var akdrnknm = "${akdrnknm}";
var akdhpno = "${akdhpno}";
var encData = "${encData}";
var evenTp = "2304";	// 23년04월 이벤트
var profile = "<%=request.getAttribute("profileGubn")%>"

let home = 'http://kagent.kyowon.co.kr:5000';
let URL_UNLINK = home + "/kkosync/v1/unlink";

Kakao.init('f700e57981e83536bd690379a8e5da6c');         // jskey

function kakaoUnlinkHandlerP() {
	if(!confirm('계정정보는 일정기간(3개월) 보관 후\n파기합니다. 탈퇴를 원하지 않을 시\n보관기간 중 로그인 하시면\n탈퇴신청이 취소 됩니다.\n\n회원탈퇴를 하시겠습니까?')){
        return;
    }

	let data = {
        AUID: KKAO_ID
    };

    let xhr = new XMLHttpRequest();
    xhr.onload = function () {
        if (xhr.status === 200 || xhr.status === 201) {
        	if(JSON.parse(xhr.responseText).success != "Y" || xhr.responseText.indexOf("msg") != -1){
        		alert("회원탈퇴가 정상적으로 완료되지 않았습니다.");
        		return false;
        	}else{
        		execConnectEnd();
        	}
        } else {
            console.error(xhr.responseText);
        }
    };
    xhr.open('POST', URL_UNLINK);
    xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
    xhr.send(JSON.stringify(data));
}

$(document).ready(function () {
	profile = profile != null?profile:"";
});

//로그인페이지 이동
function goLogin(){
	var callUrl = "${pageContext.request.contextPath}/smplJoin/login";
	var sendData = {akdcde : akdcde};
	gfn_goUrl(callUrl,sendData,'_self','GET');
}

//체험신청
function goExperience(){
	var callUrl = "${pageContext.request.contextPath}/event/experience/kakaoExperience";
	var sendData = {akdcde : akdcde, name : name, KKAO_ID : KKAO_ID
			, clphNo1 : clphNo1, clphNo2 : clphNo2, clphNo3 : clphNo3
			, akdnam : akdnam, akdrnknm : akdrnknm, akdhpno : akdhpno
			, encData : encData};
	gfn_goUrl(callUrl,sendData,'_self','post');
}

//룰렛 이벤트
function goRoulette(){
	var callUrl = "${pageContext.request.contextPath}/event/roulette/kakaoRoulette";
	var sendData = {evenTp : evenTp, akdcde : akdcde, name : name, KKAO_ID : KKAO_ID
			, clphNo1 : clphNo1, clphNo2 : clphNo2, clphNo3 : clphNo3
			, akdnam : akdnam, akdrnknm : akdrnknm, akdhpno : akdhpno
			, encData : encData};
	gfn_goUrl(callUrl,sendData,'_self','post');
}

//회원탈퇴
function execConnectEnd(){
	var saveData = {
		 akdcde : akdcde
		,KKAO_ID : KKAO_ID
	};

	jQuery.ajax({
        headers : {
            "Accept" : "application/json"
            ,"Content-Type" : "application/json"
        }
       ,type : "POST"
       ,url : "${pageContext.request.contextPath}/smplJoin/saveConnectEnd"
       ,dataType : "JSON"
       ,async : true
       ,data : JSON.stringify(saveData)
       ,success : function (result) {
    	    if(result.success == "T"){
    		    alert("회원탈퇴가 완료되었습니다.\n로그인 화면으로 이동합니다.");
    			var callUrl = "${pageContext.request.contextPath}/smplJoin/login";
    			var sendData = {akdcde : akdcde};
    			gfn_goUrl(callUrl,sendData,'_self','GET');
    	   }else{
    		   alert(result.reslMsg);
    	   }
        }
       ,complete : function (result) {

        }
       ,error : function (xhr, status, error) {
    	   return;
        }
	});
}


</script>

<body>
<!-- 이벤트 배너 날짜 체크 -->
<!--<jsp:useBean id="now" class="java.util.Date"/>-->
<!--<fmt:parseDate value="202203181000" pattern="yyyyMMddHHmm" var="startDate"/>-->
<!--<fmt:parseDate value="202203231700" pattern="yyyyMMddHHmm" var="endDate"/>-->
<!--<fmt:parseDate value="202302010000" pattern="yyyyMMddHHmm" var="evtDate"/>-->
<!--<fmt:formatDate value="${now}" pattern="yyyyMMddHHmm" var="nowDate"/>-->
<!--<fmt:formatDate value="${evtDate}" pattern="yyyyMMddHHmm" var="eventDate"/>-->
<!--<fmt:formatDate value="${startDate}" pattern="yyyyMMddHHmm" var="openDate"/>-->
<!--<fmt:formatDate value="${endDate}" pattern="yyyyMMddHHmm" var="closeDate"/>-->
<!-- wrap -->
<div id="wrap" style="max-width: 800px; margin: 0 auto; border: 1px solid #e1e1e1">
    <!-- mask -->
    <div id="mask">
        <div class="layerWindow"></div>
    </div>
    <!-- //mask -->
    <!-- header -->
    <header id="header">
        <div class="header_wrap">
            <div class="logo">
                <div>
                    <img th:src="@{/img/edu.svg}"
                         alt="kyowonedu"/>
                </div>
            </div>

            <div class="right_menu">
                <div class="login_area">
                    <span class="login_txt">[[${name}]]님</span>
                    <div onclick="goLogin()" class="btn btn_line_blk">로그아웃</div>
                </div>
            </div>
        </div>
    </header>
    <!--// header -->

    <!-- main -->
    <div id="main">
        <div class="member_wrap login_wrap mg-t20">
            <!--  회원혜택 -->
            <section class="main_benefit">
                <div class="inner">

                </div>
            </section>
            <!--// 회원혜택 -->
            <!--
            <section class="main_praise">
                <a href="javascript:goExperience()" class="btn btn_line_blk">체험신청</a>
            </section>
            -->
            <section class="main_praise">
                <a href="javascript:goRoulette()" class="btn btn_line_blk">룰렛 이벤트</a>
            </section>
            <section class="main_praise">
                <a href="http://www.kyowonwells.co.kr" class="btn btn_line_blk">교원웰스 홈페이지</a>
            </section>
            <!--
            <section class="main_praise">
                <a href="javascript:execConnectEnd()" class="btn btn_line_blk">회원탈퇴</a>
            </section>
            -->
        </div>

        <!-- footer -->
        <footer id="footer">
            <div class="inner PR">
                <div class="foot_cust">

                </div>
                <div class="foot_info_wrap">
                    <div class="foot_menu">
                        <a href="${pageContext.request.contextPath}/resources/kakaoLogin/Html/rule.html">이용약관</a>
                        <a href="${pageContext.request.contextPath}/resources/kakaoLogin/Html/privacy.html">개인정보수집약관</a>
                        <a href="${pageContext.request.contextPath}/resources/kakaoLogin/Html/maketing.html">마케팅목적처리</a>
                        <!-- <a href="javascript:execConnectEnd()">회원탈퇴</a> -->
                        <a href="javascript:kakaoUnlinkHandlerP()">회원탈퇴</a>
                    </div>

                    <div class="foot_info_tit">교원 사업자정보</div>
                    <div class="foot_info">
                        <span class="db640">(주)교원프라퍼티 대표자 : 장평순 서울특별시 중구 을지로51(을지로2가6번지)</span><br/>
                        사업자등록번호 : 101-81-39767 통신판매업 신고 : 제 2016-서울중구-0988호 <br/>
                        개인정보보호책임자 : Wells사업 최재영 대표<br/>
                        호스팅서비스 사업지 : (주) 교원프라퍼티<br/>
                        고객센터 : 1588-4113 / FAX : 02-3408-5250<br/>
                        <span class="db640">
                        	<b style="color:#FFFFFF;">본회사는 삼성화재해상보험 주식회사의<br/>
                        	개인정보보호배상에 가입되어 있습니다.</b>
                       	</span>
                    </div>
                    <ul class="cust_num">
                        <li><span>고객센터</span><a href="tel:1588-4113">1588-4113</a></li>
                    </ul>
                </div>
            </div>

        </footer>
        <!--// footer -->
    </div>
    <!--// main -->
</div>
<!--// wrap -->

</body>
</html>
